<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- 부트스트랩 css 사용 -->
      <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.css">
      <!--css -->
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/intro.css">
</head>
<body>
    <div id="smbody">
        <div id="nav_part">
            <ul class="nav_list">
                <li class="nav-item">
                    <a class="#" href="#" ><img src="/img/nav_h2.png" id="h" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="#" href="#"  ><img src="/img/nav_r.png" id="r" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="#" href="#" ><img src="/img/nav_c.png" id="c" alt=""></a>
                </li>
            </ul>
            <div id="nav_logout_box"><button id="nav_logout" class="btn"><a href="/logout">로그아웃</a></button></div>
        </div>
<!-- part1 start -->
        <div id="part1" class="show1">
            <h3>안녕하세요 스인개님 😉</h3> 
            <div class="part_bigcut partcolor">
                <div id="part_title_text">
                    <h1>학대 의심 행위</h1>
                    <h3>조치가 필요한 항목</h3>
                    <button id="part1_btn" class="btn">자세히보기</button>
                </div>
                <div id="part_title_num">
                    <h2 id="part_title_num_01"><%=v_no.length %></h2>
                    <h3 id="part_title_num_02">개</h3>
                </div>
            </div>
            <div class="part_bigcut">
               <div class="partcolor part_bigcut_box" OnClick="location.href ='#'"><div id="part_icon1"></div> <h3>등록된 선생님 확인</h3> </div>
               <div class="partcolor part_bigcut_box" OnClick="location.href ='#'"><div id="part_icon2"></div> <h3> 등록된 학생 확인</h3></div>
               <div class="partcolor part_bigcut_box" OnClick="location.href ='#'"><div id="part_icon3"></div> <h3> 전문가 소견서 확인</h3></div>
            </div>
        </div>

        <div id="part1" class="show2">
            <h3>안녕하세요 스인개님 😉</h3> 
            <div class="part_bigcut2 partcolor">
                <div id="sub1">
                    <div id="part_title_text">
                        <h1>학대 의심 행위</h1>
                        <h3>조치가 필요한 항목</h3>
                    </div> 
                    <div id="part_title_num">
                        <h2 id="part_title_num_03"><%=v_no.length %></h2>
                        <h3 id="part_title_num_04">개</h3>
                    </div>
                </div>
                <div class="part_bigcut2_sub">
                    <%if(v_no.length==0) {%>
                        조치가 필요한 항목이 없습니다.
                        <%} else {%>
                            <%for (var i=0; i < v_no.length; i++) {%>
                                <%}%>
                                    <%}%>
                                    <div class="partcolor2 part_bigcut_box">
                                        <div id="part_icon4"></div>
                                        <div> 
                                            <h6><%=ss_time%></h6> 
                                            <h4>%님이 %님에게 <%=b_type%>행위가 감지되었습니다.</h4>
                                        </div> 
                                    </div>
                </div>
            </div>
        </div>


        <div id="part1" class="show3 ">
            <h3>안녕하세요 스인개님 😉</h3> 
            <div class="part_bigcut2 partcolor">
                <div id="sub1">
                    <div id="part_title_text">
                        <h1>전문가 소견서</h1>
                    </div>
                </div>
                <div class="part_bigcut2_sub">
                    <%if(opinon.length==0) {%>
                        작성된 소견서가 없습니다.
                        <%} else {%>
                            <%for (var i=0; i < opinon.length; i++) {%>
                                <%}%>
                                    <%}%>
                                    <div class="partcolor2 part_bigcut_box2">
                                        <div> 
                                            <h6><%=ss_time%></h6> 
                                            <h4>학대 의심 행위가 감지되었습니다.</h4>
                                        </div> 
                                        <div> 
                                            <h6><%=opinon%></h6> 
                                        </div>
                                    </div>
                </div>
            </div>
        </div>
<!-- part1 end -->
        <div id="part2">
            <div><div class="circular"><h4>새로고침</h4><img src="/img/circular.png" alt=""></div> <h5>마지막 업데이트<br> 2022-06-09:21:55:12</h5> </div>
            <div><div class="circular"><h4>내 어린이집 안전 순위</h4><img src="/img/bar-chart.png" alt=""></div> <h5>광주 광역시 50곳의 어린이집 중<br> 스인개 어린이집은 8순위</h5> </div>
            <div id="part2_gide_box"><h3>어린이집 학대알림,</h3> <h6>어떻게 줄여야할지<br> 막막하시다면?</h6>
                <button class="btn">아이존 사용가이드</button>
            </div>
        </div>
    </div>
    

     <!-- 부트스트랩 js 사용 -->
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script>
        $(document).ready(function() {
            $('.show1').show(); //페이지를 로드할 때 표시할 요소
            $('.show2').hide(); //페이지를 로드할 때 숨길 요소
            $('.show3').hide();

        });

        $(function() {
            $("#h").on("click", function() {
                $(this).attr("src", "/img/nav_h2.png");
                $("#r").attr("src", "/img/nav_r.png");
                $("#c").attr("src", "/img/nav_c.png");
                $('.show1').show();
                $('.show2').hide();
                $('.show3').hide();
            });
            $("#r").on("click", function() {
                $(this).attr("src", "/img/nav_r2.png");
                $("#c").attr("src", "/img/nav_c.png");
                $("#h").attr("src", "/img/nav_h.png");
                $('.show1').hide();
                $('.show2').show();
                $('.show3').hide();
            });
            $("#c").on("click", function() {
                $(this).attr("src", "/img/nav_c2.png");
                $("#r").attr("src", "/img/nav_r.png");
                $("#h").attr("src", "/img/nav_h.png");
                $('.show1').hide();
                $('.show2').hide();
                $('.show3').show();
            });
        });
        </script>
</body>
</html>